.LeftMenu {
    width: 240px;
    height: 100%;
    min-height: 100vh;
    background: #1ABC9C;
    backdrop-filter: blur(10px);
    padding: 25px 25px;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0,.98,1,-0.01);
}

.LeftMenu .LogoContainer {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.LeftMenu .LogoContainer i {
    font-size: 30px;
}

.LeftMenu .LogoContainer h2 {
    font-size: 25px; 
    margin-top: -12px;
    padding-left: 10px;
    padding-right: 10px;
}

.searchBox {
    width: 100%;
    height: 45px;
    position: relative;
    margin-top: 20px;
    margin-left: 5px;
    color: #F1C40F;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); 
}
@keyframes slidePlaceholder {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.searchBox input::placeholder {
    display: inline-block;
    white-space: nowrap; 
    animation-name: slidePlaceholder;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.searchBox input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: #FAFAFA;
    padding-left: 45px;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    overflow: hidden;
}

.searchBox .searchIcon {
    position: absolute;
    margin-top: 2px;
    top: 0;
    left: 0;
    color: #F1C40F;
    width: 45px;
    height: 50px;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
}

/* Menu */
.MenuContainer {
    margin: 18px 22px;
}

.MenuContainer .title {
    color: #333333;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.MenuContainer ul {
    width: 100%;
    padding: 0;
}

.MenuContainer ul li {
    list-style: none;
    margin: 5px 0;
    padding: 5px 0px;
    position: relative;
}

.MenuContainer ul li a {
    text-decoration: none;
    color: #333333;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    transition: color 0.3s;
}

.MenuContainer ul li a i {
    font-size: 18px;
    margin-right: 15px;
}

.MenuContainer ul li::before {
    position: absolute;
    content: "";
    top: 0;
    left: -15px;
    width: 5px;
    height: 100%;
    background: transparent; 
    border-radius: 5px;
    transition: width 0.3s, background-color 0.3s;
}

.MenuContainer ul li.active::before {
    background: #F1C40F; 
    width: 5px;
}

.MenuContainer ul li:hover::before {
    background: #F1C40F; 
}

.MenuContainer ul li:hover a,
.MenuContainer ul li.active a {
    color: #FFFFFF; 
    transition: color 0.3s;
}
/* Playlist */
.playListContainer {
    cursor: pointer;
    margin: 18px 22px;
}

.playListContainer .nameContainer {
    color: #333333;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center; /* added to align the plus icon vertically */
}

.playListContainer .nameContainer p {
    color: #333333;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0; 
}

.playListContainer .nameContainer i {
    cursor: pointer;
    color: #F1C40F;
    margin-left: 10px; /* changed to margin-left to add space between the text and the icon */
    font-size: 18px;
}

.playListContainer .playListScroll {
    height: 140px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    padding-right: 5px;
}
.playListContainer .playListScroll::-webkit-scrollbar {
    display: none;
}

.playListContainer .playListScroll .playList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #333333;
    padding: 5px 0;
    transition: color 0.3s, background-color 0.3s;
}

.playListContainer .playListScroll .playList:hover {
    color: #FFFFFF; 
    /* background-color: #F1C40F; */
    border-radius: 5px;
}
.playListContainer .playListScroll .playList:hover i{
    color: #F1C40F;
}
.playListContainer .playListScroll .playList .list {
    margin-right: 18px; 
    margin-top: -12px;
}

.playListContainer .playListScroll .playList .trash {
    margin-left: 10px;
    margin-right: -4px; 
    margin-top: -12px;
}
.playListContainer .playListScroll .playList p{
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline;
}

/* mobile */
@media screen and (max-width: 550px) {
    .LeftMenu{
        width: 64px;
        min-width: 64px;
    }
    .LeftMenu .LogoContainer i{
        margin-left: -8px;
        
    }
    .LeftMenu .LogoContainer i span{
        display: none;
    }
    .LeftMenu .LogoContainer h2{
        display: none;
    }
    .LeftMenu .searchBox{
        display: none;
    }

    .LeftMenu .playListContainer{
        display: none;
    }
    .LeftMenu .MenuContainer ul li a span{
        display: none;
    }
    .LeftMenu .MenuContainer ul li a i{
        font-size: 26px;
        margin-left: -30px;
    }
    .LeftMenu .MenuContainer ul li{
        margin: 26px 0;
    }
    .MenuContainer .title{
        display: none;
    }
    .MenuContainer ul li.active::before {
        background: #F1C40F; 
        width: 5px;
        margin-left: -22px;
    }
    
    .MenuContainer ul li:hover::before {
        background: #F1C40F; 
        margin-left: -22px;
    }
}
