.App {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./img/israel-palacio-Y20JJ_ddy9M-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%; 
  background-position: center;
  /* filter: grayscale(100); */
  z-index: -1;
}
